@import '../bootstrap-icons/font/bootstrap-icons.css';
@import 'animations.css'; /* Animations */
@import '../Fonts/Mochiy/Mochiy.css' ; /* Fonts */
:root{
    /* WD = White & Dark Transfare */
    --WD:light-dark(/*rgba(3, 18, 43 ,.01)*/rgba(255, 255, 255, .5), rgba(255, 255, 255, .4));
    --main-font: 'Neometric Regular'; 
    --primary: #FABE02;    
    --success: #2E8B57;      
    --info: #7A8C98;          
    --warning: #FFD700;       
    --danger: #C64242;        
    --secondary: #2A3F44;     
    --dark: #03122B; 
    --light: #FFF9E6; 
    --bg-color:light-dark(var(--light) , var(--dark));
    --text-primary-changed:light-dark(var(--primary), white );
    --selection-bg: light-dark(var(--primary) , white) ;
    --selection-color: light-dark(white , var(--dark));
}
*{
    &::selection{
        background:var(--selection-bg) ;
        color: var(--selection-color);
    }
}
.bg-light-dark{
    background: light-dark(var(--light), var(--dark));
}
.bg-white-dark{
    background: light-dark(white, var(--dark));
}
.bg-WD{
    background: var(--WD);
}
.border-primary-changed{
    border: 1px solid var(--text-primary-changed);
}
.bg-primary-changed{
    background: var(--text-primary-changed);
}
.bg-primary-WD{
    background: light-dark( var(--primary) , var(--WD));
}
.btn-outline-primary{
    &:hover {
        color: white;
    }
}
.btn-primary-changed{
    border: 1px solid var(--text-primary-changed);
    /* background: light-dark(white, var(--dark)); */
    background: transparent;
    color: var(--text-primary-changed);
    padding: .5rem 1rem;
    transition: .15s linear;
    &:hover{
        background: var(--text-primary-changed);
        color: light-dark(white, var(--dark));
    }
    &.active{
        background: var(--text-primary-changed);
        color: light-dark(white, var(--dark));
    }
    &.fixed{
        &:hover{
            color: var(--text-primary-changed);
            background: transparent; ;
        }
    }
    &:active{
        transform: scale(.98);
    }
}
.text-primary-changed{
    color: var(--text-primary-changed);
}
.text-info-white{
    color: light-dark(var(--info), white);
}
.text-white-dark{
    color: light-dark(white, var(--dark));
}

body{
    padding-top: 11rem;
    min-height: 200dvh;
    font-family: 'mochiy'; 
    background-color:light-dark(white, var(--dark));

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 10px;
    }
    .mainLogoImg{
        content: url('../Logos/colored.png');
    }
    .iconLogoImg{
        content: url('../Logos/icon-colored.png');
    }
    .footerLogoImg{
        content: url('../Logos/icon-white.png');
    }
    &[data-bs-theme="dark"]{
        .mainLogoImg {
          content: url('../Logos/white.png');
        }
        .iconLogoImg{
            content: url('../Logos/icon-white.png');
        }
        .footerLogoImg{
            content: url('../Logos/icon-dark.png');
        }
    }
    
    .border-none {
        border: none !important;
        box-shadow: none !important;
      }
      
      .border-none:focus {
        border: none !important;
        box-shadow: none !important;
      }
    .navbar{
        backdrop-filter: opacity(.2);
        border-radius: 3rem;
        backdrop-filter: blur(5px);
        transition: all .3s linear;
        .container{
             /* background-color: var(--WD); */
            .navbar-brand{
                img{
                    height: 70px;
                }
            }
        }
            .collapse{
                .container{
                    .nav-link{
                        width:fit-content;
                        margin-bottom: 1px;
                        color: light-dark( var(--dark) , var(--text-primary-changed) );
                        &.active{
                            color: var(--text-primary-changed);
                            border-bottom: 1px solid ;
                            margin-bottom: 0;
                        }
                        

                    }
                }
            }
        }
    }
    footer{
        .container{
            .row{
                .col{
                    .footerLogoImg{
                        height: 150px;
                    }
                }
            }
        }
    }
