.partners-sec{
    .slider{
        min-height:calc(var(--item-height) * 1.5) ;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
        mask-image: linear-gradient(to right, transparent , black 25% 75% , transparent);
        .item{
            width: 250px;
            display: flex;
            justify-content: center;
            position: absolute;
            animation: autoRun 10s linear infinite both;
            animation-delay: calc(((10s / var(--quantity)) * (var(--position) - 1)) * -1);
            img{
                height: var(--item-height);
                filter: brightness(0) invert(.25);
                transition: all .25s linear;
                &:hover{
                    filter: brightness(1) invert(0);
                    transform: scale(1.05);
                }
            }
        }
        &:hover .item{
            animation-play-state: paused;
        }
    }
}
@keyframes autoRun {
    from {
        left: calc(250px * (var(--quantity) - 1));
    }
    to {
        left: calc(250px * (var(--quantity) / 2 * -1));
    }
}
body[data-bs-theme="dark"] .partners-sec .slider .item img{
    filter: brightness(0) invert(.75);
    &:hover{
        filter: brightness(1) invert(0);
    }
}