.screens-sec {
    overflow: hidden;

    .mobile-screens {
      display: flex;
      align-items: center;
      position: relative;
  
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: clamp(264.4px, 100%, calc(468px / 1.65));
        aspect-ratio: 9/19.5;
        /* box-shadow: 0 0 10px #000 ; */
        border-radius: 50px;
      }
  
      .swiper {
        position: relative;
        width: clamp(275px, 100%, calc(450px / 1.65));
        aspect-ratio: 9/19.5;
        display: block;
        border-radius: 43px;
        @media screen and (max-width: 400px) {
          aspect-ratio: 9 / 19.5;
        }
      }
      
      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        scale: .75;
        z-index:1;
        cursor: pointer;
        border-radius: 1rem;
        width: 80px;
        height: 80px;
        background: var(--WD);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        
        
        &::after{
            font-weight: 600;
        }
      }
  
      .swiper-button-next {
        right: 10px;
      }
  
      .swiper-button-prev {
        left: 10px;
      }
  
      /* Move buttons below the Swiper on mobile */
      @media screen and (max-width: 481px) {
        .swiper-button-next,
        .swiper-button-prev {
          top: auto;
          bottom: -100px; /* Adjust this value to position the buttons below the Swiper */
          transform: translateY(0);
        }
  
        .swiper-button-next {
          right: 50%;
          margin-right: -100px; /* Adjust this value to center the buttons */
        }
  
        .swiper-button-prev {
          left: 50%;
          margin-left: -100px; /* Adjust this value to center the buttons */
        }
      }
    }
  }
  