@font-face {
    font-family: 'mochiy'; /* Define the name you want to use for your font */
    src: url('MochiyPopPOne-Regular.ttf') format('truetype'); /* Path to the TTF font file */
    font-weight: normal;
    font-style: normal;
  }

  